body{
    background-image:url("../images/image1_0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #222;
    background-position: center bottom;
}
.nadpis-duchu{
    font-family: "bohemian typewriter", sans-serif;
    color: #222;
     font-size: 30px;
     text-align: center; 
     justify-self: center;
     filter: drop-shadow(0 0 20px white);
 }
 
 .seznam {
     display: flex;
     justify-content: center; 
     align-items: center; 
     height: 100vh; 
     width: 100%;
     margin: 0;
     padding: 0;
     rotate: 0deg;
 }
@font-face {
        font-family: "bohemian typewriter";
        src: url("../fonts/Bohemian Typewriter.ttf"); format: ("truetype");
        font-weight: normal;
        font-style: normal;
    }
.seznam .paper{
    width: 100%;
    height: auto;
    


}
footer {
    color: rgb(80, 80, 80);
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;    
    height: 500px;
    font-family: "bohemian typewriter", sans-serif;

}
.paper-container {
    position: relative;
    width: 60%; 
    margin: 0 auto; 
}

.paper {
    width: 100%; 
    height: auto;
}

.content {
    position: absolute;
    top: 10%; 
    left: 10%; 
    width: 80%; 
    color: black; 
    font-family: "bohemian typewriter", sans-serif;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.evidence-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.evidence-list {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.evidence-list li {
    margin-bottom: 5px;
    font-size: 30px;
}

.content input[type="checkbox"] {
    margin-right: 10px; 
}

.content p {
    margin-top: 20px;
    font-size: 30px;
}

.ghosts-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ghost-list {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.ghost-list li {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: left;
}
.crossed-out {
    text-decoration: line-through;
    color: gray; 
}
header {
    font-size: 30px;
    margin: 0;
    text-align: center;
    color: #707070;
    font-family: "bohemian typewriter", sans-serif;
}